.vscode/*
*.log
.dub
dub.selections.json
docs.json
generated-docs/*
__dummy.html
/alis
alis.so
alis.dylib
alis.dll
alis.a
alis.lib
alis-test-*
alis-lexer
alis-parser
alis-semantic
alis-codegen
alis-vm
*.exe
*.pdb
*.o
*.obj
*.lst
*.pdf
*.svg
*.png
/ast.json
/test.alis
